@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary:#F2BA4D;
    --smokey-white:#f5f5f5;
    --light-grey:#797979;
    --dark-grey:#515054;
    text-transform: capitalize;
    background-color: var(--dark-grey);
}




input,textarea,select {
    outline: 0;
    border:0;
}

::-webkit-scrollbar {
    background-color: var(--smokey-white);
    width: 7px;
    height: 10px;
}



::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 9999px;

}

.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-150%);
    } 
    100% {
        transform: translateY(0%);
    }
}


.upAndDown {
    -webkit-animation: upAndDown 1s ease infinite alternate;
    -o-animation: upAndDown 1s ease infinite alternate;
    -moz-animation: upAndDown 1s ease infinite alternate;
}

.page_header_button {
    @apply flex w-fit rounded-md p-2 gap-2 bg-primary text-smokey-white text-sm h-full items-center justify-center
}

.page_submit_button {
    @apply w-[350px] text-primary duration-300 hover:bg-primary hover:text-smokey-white font-semibold text-2xl uppercase rounded-2xl h-[60px] border border-primary
}

.input {
    @apply border overflow-hidden truncate
    border-solid flex justify-between bg-smokey-white items-center
    text-dark-grey placeholder:text-opacity-45 focus:border-primary focus:border-opacity-100
    border-dark-grey border-opacity-40 rounded-lg h-[35px] p-3
}
